/*Global style variables*/
/*Global system styles*/
* {
  font-family: Arial, helvetica, sans-serif;
  box-sizing: border-box;
  color: #333;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

/*Utility Classes*/
.display-flex {
  display: flex !important;
}

.main-title {
  font-size: 2rem !important;
}

.subtitle {
  font-size: 1.5rem !important;
}

.large-text {
  font-size: 1.25rem !important;
}

.medium-text {
  font-size: 1rem !important;
}

.small-text {
  font-size: 0.75px !important;
}

.full-width {
  width: 100% !important;
}

.bg-light-gray {
  background: #f8f8f8 !important;
}

.bg-medimu-gray {
  background: #e0eaf1 !important;
}

.m-0 {
  margin: 0 !important;
}

.m-extra-small {
  margin: 0.25rem !important;
}

.m-small {
  margin: 0.5rem !important;
}

.m-medium {
  margin: 1rem !important;
}

.m-large {
  margin: 1.5rem !important;
}

.m-extra-large {
  margin: 3rem !important;
}

.mr-0 {
  margin-top: 0 !important;
}

.mt-extra-small {
  margin-top: 0.25rem !important;
}

.mt-small {
  margin-top: 0.5rem !important;
}

.mt-medium {
  margin-top: 1rem !important;
}

.mt-large {
  margin-top: 1.5rem !important;
}

.mt-extra-large {
  margin-top: 3rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-extra-small {
  margin-right: 0.25rem !important;
}

.mr-small {
  margin-right: 0.5rem !important;
}

.mr-medium {
  margin-right: 1rem !important;
}

.mr-large {
  margin-right: 1.5rem !important;
}

.mr-extra-large {
  margin-right: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-extra-small {
  margin-bottom: 0.25rem !important;
}

.mb-small {
  margin-bottom: 0.5rem !important;
}

.mb-medium {
  margin-bottom: 1rem !important;
}

.mb-large {
  margin-bottom: 1.5rem !important;
}

.mb-extra-large {
  margin-bottom: 3rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-extra-small {
  margin-left: 0.25rem !important;
}

.ml-small {
  margin-left: 0.5rem !important;
}

.ml-medium {
  margin-left: 1rem !important;
}

.ml-large {
  margin-left: 1.5rem !important;
}

.ml-extra-large {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-extra-small {
  padding: 0.25rem !important;
}

.p-small {
  padding: 0.5rem !important;
}

.p-medium {
  padding: 1rem !important;
}

.p-large {
  padding: 1.5rem !important;
}

.p-extra-large {
  padding: 3rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-extra-small {
  padding-right: 0.25rem !important;
}

.pr-small {
  padding-right: 0.5rem !important;
}

.pr-medium {
  padding-right: 1rem !important;
}

.pr-large {
  padding-right: 1.5rem !important;
}

.pr-extra-large {
  padding-right: 3rem !important;
}

.p-large {
  padding: 1.5rem !important;
}

.p-extra-large {
  padding: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-extra-small {
  padding-top: 0.25rem !important;
}

.pt-small {
  padding-top: 0.5rem !important;
}

.pt-medium {
  padding-top: 1rem !important;
}

.pt-large {
  padding-top: 1.5rem !important;
}

.pt-extra-large {
  padding-top: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-extra-small {
  padding-bottom: 0.25rem !important;
}

.pb-small {
  padding-bottom: 0.5rem !important;
}

.pb-medium {
  padding-bottom: 1rem !important;
}

.pb-large {
  padding-bottom: 1.5rem !important;
}

.pb-extra-large {
  padding-bottom: 3rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-extra-small {
  padding-left: 0.25rem !important;
}

.pl-small {
  padding-left: 0.5rem !important;
}

.pl-medium {
  padding-left: 1rem !important;
}

.pl-large {
  padding-left: 1.5rem !important;
}

.pl-extra-large {
  padding-left: 3rem !important;
}

/*Rooting rules*/
*[class^=ds-col] {
  padding: 0px 15px;
}

/*Grid Layout*/
.ds-full-wrapper {
  width: 100% !important;
}

.ds-row {
  display: flex;
}

.ds-col-1 {
  width: 8.333% !important;
}

.ds-col-2 {
  width: 16.666% !important;
}

.ds-col-3 {
  width: 25% !important;
}

.ds-col-4 {
  width: 33.333% !important;
}

.ds-col-5 {
  width: 41.665% !important;
}

.ds-col-6 {
  width: 50% !important;
}

.ds-col-7 {
  width: 58.331% !important;
}

.ds-col-8 {
  width: 66.666% !important;
}

.ds-col-9 {
  width: 75% !important;
}

.ds-col-10 {
  width: 83.333% !important;
}

.ds-col-11 {
  width: 91.666% !important;
}

.ds-col-12 {
  width: 100% !important;
}

/*Components*/
.ds-list {
  width: 100%;
  background: white;
  border-radius: 5px;
  border: 1px solid #e0eaf1;
  padding: 15px;
}
.ds-list .ds-list-item {
  border-bottom: 1px solid #e0eaf1;
  height: 40px;
  padding-top: 11px;
  padding-left: 10px;
}
.ds-list .ds-list-item:last-of-type {
  border-bottom: 0;
}
.ds-list.selectable .ds-list-item:hover {
  background: #e0eaf1;
  border-color: #f8f8f8;
  cursor: pointer;
}
.ds-list.selectable .ds-list-item.active {
  border-left: 3px solid #e0eaf1;
}

.ds-button {
  border-radius: 5px;
  height: 40px;
  text-align: center;
  color: white;
  background: #056dae;
  padding: 10px 12px;
  margin: 10px;
  cursor: pointer;
  transition: background, color 0.5s ease;
  border: 1px solid #056dae;
}
.ds-button:hover {
  background: #3abaed;
  border: 1px solid #3abaed;
}
.ds-button.outline-button {
  background: none;
  color: #056dae;
  border: 1px solid #056dae;
}
.ds-button.outline-button:hover {
  background: #056dae;
  color: white;
}
.ds-button.secondary-button {
  background: none;
  border: none;
  color: #3abaed;
}
.ds-button.link-button {
  color: #666;
  text-decoration: underline;
  background: none;
  border: none;
}
.ds-button.tiny {
  font-size: 13px;
  height: 30px;
  padding: 7px 8px;
}
.ds-button.puffy {
  font-size: 14px;
  height: 56px;
  padding: 19px 16px;
}
.ds-button.green-button {
  background: #2ecc71;
}

.ds-navbar {
  height: 70px;
  width: 100%;
  background: #f8f8f8;
  display: flex;
}
.ds-navbar.blue-theme {
  background: #056dae;
}

/*# sourceMappingURL=ds.css.map */
